<form method="post" action="{{ path('type_dossiers_delete', {'id': type_dossier.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce type de dossier?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_dossier.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
