{% extends 'suivies/index.html.twig' %}

{% block title %}New TypeDossiers{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="text-center">
            <h1>Création nouveau Type de Dossiers</h1>
        </div>
        <hr>

        {{ include('type_dossiers/_form.html.twig') }}
        <br>
        <a href="{{ path('type_dossiers_index') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
