{% extends 'base.html.twig' %}

{% block title %}Accès{% endblock %}

{% block body %}
    <div class="container">
        <div class="row kl-largeur container-fluid justify-content-center">
            <div class="center-block">
                <form method="post">
                    <div class="form-group align-items-center kl-fond-login">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <img src="dist/images/header.png" class="img-fluid" alt="Image en-tête de la DGSR" width=614>
                        <h1 class="h3 mb-3 font-weight-normal text-center">Controle et suivie</h1>
                        <div class="kl-bordure-form">
                            <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
                            <br>
                            <label for="inputPassword" class="sr-only">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                            <br>
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                        <div class="text-right kl-bordure-bouton">
                            <button class="btn btn-lg btn-primary" type="submit">
                                Connecter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
