<form method="post" action="{{ path('communes_delete', {'id': commune.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette commune?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commune.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
