<form method="post" action="{{ path('resultats_delete', {'id': resultat.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette resultat?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resultat.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
