<form method="post" action="{{ path('unites_delete', {'id': unite.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette unité?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unite.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
