{% extends 'base.html.twig' %}

{% block title %}New Unites{% endblock %}

{% block body %}
    <h1>Create new Unites</h1>

    {{ include('unites/_form.html.twig') }}

    <a href="{{ path('unites_index') }}">back to list</a>
{% endblock %}
