<form method="post" action="{{ path('traitements_delete', {'id': traitement.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer ce type de traitement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ traitement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
