{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'suivies/index.html.twig' %}

{% block title %}Erreur Détecter{% endblock %}

{% block contenue %}
    <h1>Un erreur a été détecter</h1>

    <p>
        Un erreur a été détecter, veuillez faire part de cet incidance à l'administrateur afin de résoudre cet erreur.
    </p>
{% endblock %}