{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'suivies/index.html.twig' %}

{% block title %}Erreur 403 Détecter{% endblock %}

{% block contenue %}
    <h1>Un erreur 403 a été détecter</h1>

    <p>
        Un erreur a été détecter, 
        accès non autoriser,
        veuillez faire part de cet incidance à l'administrateur afin de résoudre cet erreur.
    </p>
{% endblock %}