{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'suivies/index.html.twig' %}

{% block title %}Erreur 404 Détecter{% endblock %}

{% block contenue %}
    <h1>Un erreur 404 a été détecter</h1>

    <p>
        Un erreur a été détecter, 
        la page que vous avez essayé d'ouvrir est introuvable
        veuillez faire part de cet incidance à l'administrateur afin de résoudre cet erreur.
    </p>
{% endblock %}