{% extends 'suivies/index.html.twig' %}

{% block title %}New User{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="text-center">
            <h1>Création nouveau Utilisateur</h1>
        </div>
        <hr>

        {{ include('user/_form.html.twig') }}
        <br>
        <a href="{{ path('user_index') }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}
